body {
  margin: 0;
  background-color: #040;
  color: #8f8;
  
  text-align: center;
}

button {
  background-color: #6f6;
}

#gameBoard {
  border-collapse: collapse;

  /* center */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* no highlight */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.mineCell {
  padding: 0;
}