body {
  margin: 0;
  background-color: navy;
  color: white;
  
  text-align: center;
}

#gameBoard {
  border: 1px skyblue solid;
  border-collapse: collapse;

  /* center */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mineCell {
  padding: 0;
}